<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tiro Finale Raid Tracker</title>

    <link rel="stylesheet" href="~/css/site.css" />

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
  @RenderBody()
  <environment names="Development">
    <script src="~/dist/app.js"></script>
  </environment>
  <environment names="Production">
    <partial name="~/dist/scripts.js" />
  </environment>
</body>
</html>
