<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tiro Finale Raid Tracker</title>

    <link rel="stylesheet" href="~/css/site.css" />

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

<script type="text/javascript" src="/runtime.3b7ecb2c3c72dd53f621.js?3b7ecb2c3c72dd53f621"></script><script type="text/javascript" src="/vendor.3b7ecb2c3c72dd53f621.js?3b7ecb2c3c72dd53f621"></script><script type="text/javascript" src="/app.3b7ecb2c3c72dd53f621.js?3b7ecb2c3c72dd53f621"></script></body>
</html>
